[workspace]
resolver = "2"
members = ["cli", "grpc", "node", "node-wasm", "node-uniffi", "proto", "rpc", "types"]

[workspace.dependencies]
blockstore = "0.7.1"
lumina-node = { version = "0.9.1", path = "node" }
lumina-node-wasm = { version = "0.8.1", path = "node-wasm" }
celestia-proto = { version = "0.7.0", path = "proto" }
celestia-grpc = { version = "0.2.1", path = "grpc" }
celestia-rpc = { version = "0.9.1", path = "rpc", default-features = false }
celestia-types = { version = "0.10.1", path = "types", default-features = false }
tendermint = { version = "0.40.0", default-features = false }
tendermint-proto = "0.40.0"

libp2p = "0.54.1"
nmt-rs = "0.2.1"
prost = "0.13.3"
prost-build = "0.13.3"
prost-types = "0.13.3"
wasm-bindgen = "0.2.100"
wasm-bindgen-test = "0.3.49"

[patch.crates-io]
# Uncomment to apply local changes
#beetswap = { path = "../beetswap" }
#blockstore = { path = "../blockstore" }
#nmt-rs = { path = "../nmt-rs" }
#libp2p = { path = "../../rust-libp2p/libp2p" }
#libp2p-core = { path = "../../rust-libp2p/core" }
#libp2p-swarm = { path = "../../rust-libp2p/swarm" }
#wasm-bindgen = { path = "../wasm-bindgen" }

# Uncomment this if you need debug symbols in release.
# Also check node-wasm's `Cargo.toml`.
#[profile.release]
#debug = true
