[package]
name = "celestia-rpc"
version = "0.2.0"
edition = "2021"
license = "Apache-2.0"
description = "A collection of traits for interacting with Celestia data availability nodes RPC"
authors = ["Eiger <hello@eiger.co>"]
homepage = "https://www.eiger.co"
repository = "https://github.com/eigerco/lumina"
readme = "README.md"
# crates.io is limited to 5 keywords and 5 categories
keywords = ["blockchain", "celestia", "lumina"]
# Must be one of <https://crates.io/category_slugs>
categories = [
  "api-bindings",
  "asynchronous",
  "encoding",
  "cryptography::cryptocurrencies",
]

[dependencies]
async-trait = "0.1"
celestia-types = { workspace = true }
jsonrpsee = { version = "0.20", features = ["client-core", "macros"] }
serde = { version = "1.0.188", features = ["derive"] }
thiserror = "1.0.40"
tracing = "0.1.37"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
http = "0.2.9"
jsonrpsee = { version = "0.20", features = ["http-client", "ws-client"] }

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
libp2p = { workspace = true, features = [
  "tokio",
  "macros",
  "tcp",
  "noise",
  "yamux",
] }
anyhow = "1.0.71"
dotenvy = "0.15.7"
futures = "0.3.28"
nmt-rs = "0.1.0"
rand = "0.8.5"
tokio = { version = "1.32.0", features = ["rt", "macros"] }
tracing = "0.1.37"

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
getrandom = { version = "0.2", features = ["js"] }
wasm-bindgen-test = "0.3.0"

[features]
default = ["p2p"]
p2p = ["celestia-types/p2p"]
wasm-bindgen = ["celestia-types/wasm-bindgen", "jsonrpsee/wasm-client"]

[package.metadata.docs.rs]
features = ["p2p"]
rustdoc-args = ["--cfg", "docsrs"]
