[package]
name = "celestia-rpc"
version = "0.9.1"
edition = "2021"
license = "Apache-2.0"
description = "A collection of traits for interacting with Celestia data availability nodes RPC"
authors = ["Eiger <hello@eiger.co>"]
homepage = "https://www.eiger.co"
repository = "https://github.com/eigerco/lumina"
readme = "README.md"
# crates.io is limited to 5 keywords and 5 categories
keywords = ["blockchain", "celestia", "lumina"]
# Must be one of <https://crates.io/category_slugs>
categories = [
  "api-bindings",
  "asynchronous",
  "encoding",
  "cryptography::cryptocurrencies",
]

[dependencies]
celestia-types.workspace = true
prost.workspace = true

async-trait = "0.1.80"
jsonrpsee = { version = "0.24.2", features = ["client-core", "macros"] }
serde = { version = "1.0.203", features = ["derive"] }
thiserror = "1.0.61"
tracing = "0.1.40"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
http = "1.1.0"
jsonrpsee = { version = "0.24.2", features = ["http-client", "ws-client"] }

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
anyhow = "1.0.86"
dotenvy = "0.15.7"
futures = "0.3.31"
libp2p = { workspace = true, features = [
  "tokio",
  "macros",
  "tcp",
  "noise",
  "yamux",
] }
nmt-rs.workspace = true
rand = "0.8.5"
tokio = { version = "1.38.0", features = ["rt", "macros"] }
tracing = "0.1.40"

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
getrandom = { version = "0.2.15", features = ["js"] }
wasm-bindgen-test.workspace = true

[features]
default = ["p2p"]
p2p = ["celestia-types/p2p"]
wasm-bindgen = ["celestia-types/wasm-bindgen", "jsonrpsee/wasm-client"]

[package.metadata.docs.rs]
features = ["p2p"]
rustdoc-args = ["--cfg", "docsrs"]
