[package]
name = "lumina-utils"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
description = "Platform abstraction utilities used across lumina project"
authors = ["Eiger <hello@eiger.co>"]
homepage = "https://www.eiger.co"
repository = "https://github.com/eigerco/lumina"

[dependencies]
tokio = { optional = true, version = "1.38.0", features = ["macros", "sync"] }
tokio-util = { optional = true, version = "0.7.11" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen = { optional = true, workspace = true }
wasm-bindgen-futures = { optional = true, version = "0.4.43" }
gloo-timers = { optional = true, version = "0.3.0", features = ["futures"] }
futures = { optional = true, version = "0.3.30" }
pin-project = { optional = true, version = "1.1.5" }
send_wrapper = { optional = true, version = "0.6.0", features = ["futures"] }
wasm-bindgen-test = { optional = true, workspace = true }
web-time = { optional = true, version = "1.1.0" }

[features]
default = []
executor = ["token", "dep:tokio-util", "dep:tokio", "dep:wasm-bindgen", "dep:wasm-bindgen-futures", "dep:send_wrapper"]
token = ["dep:tokio-util"]
time = ["dep:gloo-timers", "dep:tokio", "dep:send_wrapper", "dep:futures", "dep:pin-project", "dep:web-time"]
test-utils = ["dep:wasm-bindgen-test"]
