services:
  validator:
    image: validator
    platform: "linux/amd64"
    build:
      context: .
      dockerfile: Dockerfile.validator
    environment:
      # provide amount of DA nodes to provision (default: 1)
      - NODE_COUNT=3
    ports:
      - 19090:9090 # grpc
      - 18080:9091 # grpc-web
    volumes:
      - credentials:/credentials
      - genesis:/genesis

  node-0:
    image: node
    platform: "linux/amd64"
    build:
      context: .
      dockerfile: Dockerfile.node
    environment:
      # provide an id for the DA node (default: 0)
      # each node should have a next natural number starting from 0
      - NODE_ID=0
      # provide a type of the node to run (default: bridge)
      # first node must be a bridge node
      - NODE_TYPE=bridge
      # setting SKIP_AUTH to true disables the use of JWT for authentication
      - SKIP_AUTH=true
      - CELESTIA_ENABLE_QUIC=1
    ports:
      - 26658:26658
    volumes:
      - credentials:/credentials
      - genesis:/genesis

  node-1:
    image: node
    platform: "linux/amd64"
    build:
      context: .
      dockerfile: Dockerfile.node
    environment:
      - NODE_ID=1
      - CELESTIA_ENABLE_QUIC=1
    ports:
      - 36658:26658
    volumes:
      - credentials:/credentials
      - genesis:/genesis

  node-2:
    image: node
    platform: "linux/amd64"
    build:
      context: .
      dockerfile: Dockerfile.node
    environment:
      - NODE_ID=2
      - NODE_TYPE=light
      - SKIP_AUTH=true
      - CELESTIA_ENABLE_QUIC=1
    ports:
      - 46658:26658
    volumes:
      - credentials:/credentials
      - genesis:/genesis

  # Uncomment for another nodes
  # remember to adjust services.validator.environment
  # node-3:
  #   image: node
  #   platform: "linux/amd64"
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.node
  #   environment:
  #     - NODE_ID=3
  #     - CELESTIA_ENABLE_QUIC=1
  #   ports:
  #     - 46658:26658
  #   volumes:
  #     - credentials:/credentials
  #     - genesis:/genesis

volumes:
  # local volume where node's credentials can persist
  credentials:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: './credentials'
  # a temporary fs where the genesis hash is announced
  genesis:
    driver_opts:
      type: tmpfs
      device: tmpfs
