name: CI
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

# Automatically cancels a job if a new commit is pushed to the same PR, branch, or tag.
# Source: <https://stackoverflow.com/a/72408109/5148606>
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  # Allow CI to run for each commit on main
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  WASM_BINDGEN_TEST_TIMEOUT: 120

jobs:
  clippy:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        crate:
          - celestia-proto
          - celestia-types
          - celestia-rpc
          - celestia-grpc
          - celestia-grpc-macros
          - celestia-client
          - lumina-node
          - lumina-node-uniffi
          - lumina-node-wasm
          - lumina-utils
          - lumina-cli

    steps:
    - uses: actions/checkout@v4

    - name: Setup toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        components: clippy
        target: wasm32-unknown-unknown
        cache-key: ${{ matrix.crate }}
        # this disables default behavior of `setup-rust-toolchain` to put `-D warnings` which overwrites `.cargo/config.toml`
        rustflags: ""

    - name: Run clippy for native
      run: cargo clippy --all-targets --all-features -p ${{ matrix.crate }} -- -D warnings --no-deps

    - name: Run clippy for wasm32
      run: cargo clippy --all-targets --all-features --target=wasm32-unknown-unknown -p ${{ matrix.crate }} -- -D warnings --no-deps


  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        crate:
          - celestia-proto
          - celestia-types
          - celestia-rpc
          - celestia-grpc
          - celestia-grpc-macros
          - celestia-client
          - lumina-node
          - lumina-node-uniffi
          - lumina-node-wasm
          - lumina-utils
          - lumina-cli

    steps:
    - uses: actions/checkout@v4

    - name: Setup toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        cache-key: ${{ matrix.crate }}

    - name: Celestia devnet
      uses: ./.github/actions/local-devnet

    - name: Run tests
      run: cargo test --all-features -p ${{ matrix.crate }}


  test-bindings:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        bindings:
          - name: uniffi-kotlin
            run: ./node-uniffi/tests/kotlin/run.sh
          - name: uniffi-swift
            run: ./node-uniffi/tests/swift/run.sh

    steps:
      - uses: actions/checkout@v4

      - name: Setup toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache-key: ${{ matrix.crate.name }}

      - name: Run ${{ matrix.bindings.name }} tests
        run: ${{ matrix.bindings.run }}


  test-wasm:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        crate:
          - name: celestia-proto
            dir: proto
          - name: celestia-types
            dir: types
            wasm-pack-test-flags: --features=wasm-bindgen
          - name: celestia-rpc
            dir: rpc
            wasm-pack-test-flags: --features=wasm-bindgen
          - name: celestia-grpc
            dir: grpc
          - name: celestia-client
            dir: client
          - name: lumina-node
            dir: node
          - name: lumina-node-wasm
            dir: node-wasm
            # We're running node-wasm tests in release mode to get around a failing debug assertion
            # https://github.com/libp2p/rust-libp2p/issues/5618
            wasm-pack-test-flags: --release
          - name: lumina-utils
            dir: utils

    steps:
    - uses: actions/checkout@v4

    - name: Setup toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        components: clippy
        target: wasm32-unknown-unknown
        cache-key: ${{ matrix.crate.name }}
        # this disables default behavior of `setup-rust-toolchain` to put `-D warnings` which overwrites `.cargo/config.toml`
        rustflags: ""

    - name: Install wasm-pack
      uses: taiki-e/install-action@v2
      with:
        tool: wasm-pack@0.13.1

    - name: Install chromedriver # we don't specify chrome version to match whatever's installed
      uses: nanasess/setup-chromedriver@v2

    - name: Celestia devnet
      uses: ./.github/actions/local-devnet

    - name: Run wasm-pack tests
      run: wasm-pack test --headless --chrome ${{ matrix.crate.dir }}  ${{ matrix.crate.wasm-pack-test-flags }}


  build-wasm:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        target: wasm32-unknown-unknown
        # this disables default behavior of `setup-rust-toolchain` to put `-D warnings` which overwrites `.cargo/config.toml`
        rustflags: ""

    - name: Install wasm-pack
      uses: taiki-e/install-action@v2
      with:
        tool: wasm-pack@0.13.1

    - name: Build and pack node-wasm
      run: wasm-pack build node-wasm && wasm-pack pack node-wasm

    - name: Build demo webpage
      run: cd cli/js && npm ci && npm run build


  build-ios:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        target: 'aarch64-apple-ios aarch64-apple-ios-sim'

    - uses: mxcl/xcodebuild@v3
      with:
        action: none
        xcode: ^16

    - name: build and copy bindings
      run: |
        ./node-uniffi/build-ios.sh
        ./examples/ios/LuminaDemo/copy_bindings.sh

    - name: create and boot simulator
      run: |
        xcrun simctl shutdown all || true
        xcrun simctl erase all || true
        xcrun simctl delete CI-iPhone || true

        # Run `xcrun simctl list devicetypes` for more
        DEVTYPE=com.apple.CoreSimulator.SimDeviceType.iPhone-16
        # Run `xcrun simctl list runtimes` for more
        RUNTIME=com.apple.CoreSimulator.SimRuntime.iOS-26-0

        # Create simulator
        UDID=$(xcrun simctl create CI-iPhone "$DEVTYPE" "$RUNTIME")
        # Boot it
        xcrun simctl boot "$UDID"
        # Wait until fully booted
        xcrun simctl bootstatus "$UDID" -b

        # Set env for the next steps
        echo "SIM_UDID=$UDID" >> "$GITHUB_ENV"

    - name: xcode clean build
      working-directory: examples/ios/LuminaDemo
      env:
        NSUnbufferedIO: "YES"
      run: |
        xcodebuild \
          -scheme LuminaDemo \
          -destination "id=${SIM_UDID}" \
          CODE_SIGNING_ALLOWED=NO CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY="" \
          clean build

    - name: xcode sim test
      working-directory: examples/ios/LuminaDemo
      env:
        NSUnbufferedIO: "YES"
      run: |
        # `-parallel-testing-enabled NO` avoids creating clones of the simulator
        xcodebuild \
          -scheme LuminaDemo \
          -sdk iphonesimulator \
          -destination "id=${SIM_UDID}" \
          -parallel-testing-enabled NO \
          -destination-timeout 360 \
          -skip-testing LuminaDemoTests/GrpcClientTest \
          test


  build-android:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Java JDK
      uses: actions/setup-java@v4.0.0
      with:
        java-version: '21'
        distribution: 'adopt'

    - name: Setup toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        target: 'aarch64-linux-android armv7-linux-androideabi i686-linux-android x86_64-linux-android'

    - name: Install cargo-ndk
      uses: taiki-e/cache-cargo-install-action@v2
      with:
        tool: cargo-ndk@3.5.4

    - name: build and copy bindings
      run: |
        ./node-uniffi/build-android.sh
        ./examples/android/LuminaDemo/copy_bindings.sh

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
      with:
        gradle-version: 'current'

    - name: Gradle build
      working-directory: examples/android/LuminaDemo
      run: gradle build

    - name: Gradle test
      working-directory: examples/android/LuminaDemo
      run: gradle test


  fmt:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run fmt
      run: cargo fmt -- --check


  docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        components: clippy
        toolchain: nightly, stable
        target: wasm32-unknown-unknown
        # this disables default behavior of `setup-rust-toolchain` to put `-D warnings` which overwrites `.cargo/config.toml`
        rustflags: ""

    - name: Missing docs for native
      run: cargo clippy --workspace --all-features -- -D missing-docs

    - name: Missing docs for wasm32
      run: cargo clippy --workspace --all-features --target=wasm32-unknown-unknown -- -D missing-docs

    - name: Run rustdoc check
      env:
        RUSTDOCFLAGS: --cfg docsrs -D warnings
      run: cargo +nightly doc --no-deps


  unused-deps:
    runs-on: ubuntu-latest

    name: unused dependencies
    steps:
    - name: Checkout sources
      uses: actions/checkout@v4

    - name: Setup toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: nightly

    - name: Install cargo-udeps
      uses: taiki-e/install-action@v2
      with:
        tool: cargo-udeps

    - name: Check for unused dependencies
      run: cargo udeps --all-targets --all-features


  minimal-versions:
    runs-on: ubuntu-latest

    name: minimal versions of dependencies
    steps:
    - uses: actions/checkout@v4

    - name: Setup toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        target: wasm32-unknown-unknown
        # this disables default behavior of `setup-rust-toolchain` to put `-D warnings` which overwrites `.cargo/config.toml`
        rustflags: ""

    - name: Install cargo-minimal-versions
      uses: taiki-e/install-action@v2
      with:
        tool: cargo-hack,cargo-minimal-versions

    - name: Check minimal versions
      run: cargo minimal-versions check --direct --all-features

    - name: Check minimal versions on wasm
      run: cargo minimal-versions check --direct --all-features --target wasm32-unknown-unknown


  msrv:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        crate:
          - name: celestia-proto
            dir: proto
          - name: celestia-types
            dir: types
          - name: celestia-rpc
            dir: rpc
          - name: celestia-grpc
            dir: grpc
          - name: celestia-grpc-macros
            dir: grpc/grpc-macros
          - name: celestia-client
            dir: client
          - name: lumina-node
            dir: node
          - name: lumina-node-uniffi
            dir: node-uniffi
          - name: lumina-node-wasm
            dir: node-wasm
          - name: lumina-node
            dir: node
          - name: lumina-utils
            dir: utils
          - name: lumina-cli
            dir: cli

    steps:
    - uses: actions/checkout@v4

    - name: Setup toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        target: wasm32-unknown-unknown
        cache-key: ${{ matrix.crate.name }}
        # this disables default behavior of `setup-rust-toolchain` to put `-D warnings` which overwrites `.cargo/config.toml`
        rustflags: ""

    - name: Install cargo-msrv
      uses: taiki-e/install-action@v2
      with:
        tool: cargo-msrv

    - name: Run msrv verify for native
      run: cargo msrv verify --manifest-path ./${{ matrix.crate.dir }}/Cargo.toml --all-features

    - name: Run msrv verify for wasm32
      run: cargo msrv verify --manifest-path ./${{ matrix.crate.dir }}/Cargo.toml --all-features --target wasm32-unknown-unknown


  required:
    runs-on: ubuntu-latest

    name: Required checks
    if: ${{ !cancelled() }}
    needs:
    - clippy
    - test
    - test-wasm
    - test-bindings
    - build-wasm
    - build-android
    - build-ios
    - fmt
    - docs
    - unused-deps
    - minimal-versions
    - msrv

    steps:
    - name: On failure
      if: always() && contains(needs.*.result, 'failure')
      run: exit 1
